@{
    ViewData["Title"] = "Административни инструменти";
}
@TempData["ToolsReset"]

<h2>🔧 Административни инструменти</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-info">@TempData["Message"]</div>
}

<form asp-action="GenerateSchadel" method="post">
    <button type="submit" class="btn btn-warning">🔁 Generate турнир:</button>
</form>

<form asp-action="ResetScheduleAndTournaments" method="post">
    <button type="submit" class="btn btn-warning">🔁 Таблицата Matches беше изчистена. Обновени турнири:</button>
</form>

<form asp-action="ResetTeamsAndRequests" method="post">
    <button type="submit" class="btn btn-warning">🔁 Нулирай всички заявки и такси</button>
</form>

<form asp-action="ApproveRequest" method="post" class="mt-3">
    <label>Въведи ID на заявка за одобрение:</label>
    <input type="number" name="id" class="form-control" required />
    <button type="submit" class="btn btn-success mt-2">✅ Одобри заявка</button>
</form>

<form asp-action="Cancel" method="post" class="mt-4">
    <button type="submit" class="btn btn-secondary">❎ Отказ</button>
</form>
