@* <html>
<head>
    <style>
        body {
            font-family: Arial;
            padding: 40px;
        }</style>
</head>
<body>
    <h1>СЕРТИФИКАТ ЗА УЧАСТИЕ</h1>
    <p>Отбор: <strong>Cherno More</strong></p>
    <p>Тип турнир: <strong>RoundRobin</strong></p>
    <p>Дата: 25.04.2025</p>
    <p>Сертификат №: <strong>e386c2bb</strong></p>
</body>
</html> *@
<h1>Hi</h1>