<div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="#">Dropdown link</a>
        <a class="dropdown-item" href="#">Dropdown link</a>
    </div>
</div>

<div class="form-group">
    <label></label>
    <select class="form-control">
        <option value="category.Id">category.AAAA</option>
        <option value="category.Id">category.BBB</option>
        <option value="category.Id">category.CCC</option>
    </select>
</div>