@model Tournament

@{
    ViewData["Title"] = "Създай нов турнир";
}

<h2 class="mt-3">Създай нов турнир</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Type" class="form-label"></label>
        <select asp-for="Type" class="form-select" asp-items="Html.GetEnumSelectList<TournamentType>()">
            <option disabled selected>-- Избери тип турнир --</option>
        </select>
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="StartDate" class="form-label"></label>
        <input asp-for="StartDate" class="form-control" type="date" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>

    <div class="form-check mb-3">
        <input asp-for="IsOpenForApplications" class="form-check-input" />
        <label asp-for="IsOpenForApplications" class="form-check-label"></label>
    </div>

    <button type="submit" class="btn btn-success">Създай</button>
    <a asp-action="Index" class="btn btn-secondary">Отказ</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
